@charset 'utf-8';
@import url(../reset.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
}

.inner {
    margin: auto;
    max-width: 1280px;
}

/* 해더 디자인 시작 */
.hd {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 140px;
    padding: 2rem;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    z-index: 100;
    background-color: white;
}

.hd::before {
    content: "";
    position: absolute;
    width: 200vw;
    height: 100%;
    background-color: white;
    left: -120%;
    z-index: -1;
}

.hd::after {
    content: "";
    position: absolute;
    width: 200vw;
    bottom: 0;
    left: -120%;
    height: 1px;
    border-bottom: 1px solid #eee;
    background-color: white;
    transition: .5s;
}

.hd:hover::after {
    opacity: 0;
}

.hd nav {
    display: block;
    width: 100%;
}

.hd .i_box {
    position: relative;
    width: 40%;
    display: flex;
    height: 35px;
}

.hd .i_box input {
    padding: 0 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
    transition: .5s;
}

.hd .i_box input:focus {
    background-image: url(./img/pt1.png);
    font-weight: 600;
}

.hd .i_box input:focus::placeholder {
    opacity: 0;
}

.hd .i_box button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.ham {
    display: none;
}

.gnb {
    position: absolute;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
    bottom: 0;
}

.gnb>li>a {
    display: block;
    padding: 10px 0;
    border: 5px solid transparent;
    transition: .5s;
}

.h_icon i {
    cursor: pointer;
    font-size: 30px;
    margin: 0 5px;
}

@media(min-width:791px) {
    .gnb>li {
        text-align: center;
    }

    .gnb::after {
        content: "";
        position: absolute;
        width: 200vw;
        bottom: 0;
        left: -120%;
        height: 1px;
        background-color: white;
        border-bottom: 1px solid #eee;
        transition: .5s;
    }

    .gnb:hover::after {
        height: 50px;
        bottom: -50px;
    }

    .gnb>li:hover>.sub {
        height: 50px;
    }

    .gnb>li:hover>a {
        border-bottom: 5px solid black;
    }

    .sub {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 150%;
        height: 0px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1rem;
        font-weight: 500;
        overflow: hidden;
        transition: .5s;
        z-index: 100;
    }

    .sub>li {
        padding: 1rem 0;
    }

    .sub>li>a:hover {
        font-weight: bold;
    }

}

@media (max-width:790px) {
    .hd {
        border-bottom: 1px solid #eee;
    }

    nav {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 120px;
        z-index: 1000;
        background-color: white;
    }

    .gnb {
        width: 100%;
        top: 0;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .gnb>li {
        padding-top: 1px;
        width: 100%;
    }

    .gnb>li>a {
        position: relative;
        display: block;
        height: 50px;
        padding: 12px 12px 0;
        border-bottom: 1px solid #eee;
    }

    .gnb>li>a::after {
        content: "";
        position: absolute;
        width: 20px;
        right: 23px;
        height: 2px;
        transform: rotate(45deg);
        background-color: black;
        top: 25px;
    }

    .gnb>li>a::before {
        content: "";
        position: absolute;
        width: 20px;
        right: 10px;
        height: 2px;
        transform: rotate(-45deg);
        background-color: black;
        top: 25px;
    }

    .gnb .sub {
        position: relative;
        display: none;
        flex-direction: column;
        font-size: 15px;
        font-weight: 300;
        border-bottom: 1px solid #eee;
    }

    .gnb .sub.on {
        display: flex;
    }

    .gnb .sub>li {
        padding: 5px 0;
        transition: .3s;
    }

    .gnb .sub>li:hover {
        background-color: #eee;
    }

    .gnb .sub>li a {
        padding-left: 12px;
    }

    .h_icon {
        display: none;
    }

    .ham {
        display: block;
        font-size: 15px;
    }

    .hd .i_box {
        width: 60%;
    }
}

/* 헤더 (반응형) 작업 끝. */

/* Section1 작업 시작 */
.sec1 {
    padding: 200px 0 150px;
}

.sec1 .inner {
    position: relative;
    max-width: 1280px;
    margin: auto;
    width: 50%;
}

.swiper-slide>div {
    position: absolute;
    top: 100%;
}

.swiper-slide>div>h2 {
    padding: 10px 0;
}

.sec1 img {
    width: 100%;
}

.sec1>.inner>i {
    position: absolute;
    padding: 50px 0;
    font-size: 30px;
    right: 30px;
    transform: rotateX(160deg);
    perspective: 100px;
    transition: .5s;
}

.swiper:hover~i {
    transform: rotateY(180deg);
}

@media(max-width:790px) {
    .sec1 .inner {
        width: 75%;
    }
}

/* Section1 (반응형) 작업 끝 */

/* Section2 작업 시작 */

.sec2 {
    padding-top: 120px;
    background-color: aliceblue;
}

.sec2 .inner>h2 {
    position: relative;
    padding: 50px 1rem;
    font-size: 30px;
}

.sec2 .inner>h2::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: black;
    bottom: 20px;
    left: 1rem;
}

.sec2 .inner>h2 span {
    font-size: 14px;
    font-weight: 400;
}

.ip_list {
    display: flex;
    width: 100%;
}

.ip_list li {
    position: relative;
    margin: 20px;
}

.ip_list li>div {
    padding-top: 10px;
}

.ip_list li h3 {
    padding-bottom: 20px;
    color: #11875e;
}

.ip_list li::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.ip_list li:nth-of-type(1) {
    width: 25%;
}

.ip_list li:nth-of-type(2) {
    width: 35%;
}

.ip_list li:nth-of-type(3) {
    width: 20%;
}

.ip_list li:nth-of-type(4) {
    width: 20%;
}

.chkbox {
    position: relative;
}

.chkbox[type='checkbox'] {
    display: none;
}

.ip_box1,
.ip_box2 {
    display: flex;
    flex-wrap: wrap;
}

.ip_con label {
    position: relative;
}

.ip_con label span {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    font-size: 0.8rem;
    white-space: nowrap;
    color: white;
}

.ip_con label:hover span,
.ip_box1 input:checked+label span,
.ip_box2 input:checked+label span {
    display: block;
}

.ip_box1 input:checked+label span,
.ip_box2 input:checked+label span {
    font-weight: bold;
}

.ip_box1 label::before,
.ip_box2 label::before {
    transition: .5s;
}

.ip_box1 label:hover::before,
.ip_box1 input:checked+label::before,
.ip_box2 label:hover::before,
.ip_box2 input:checked+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11875e;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 10;
}

.ip_con label>i {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(./img/section2/ico_40x40.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.ip_box1 label:nth-of-type(1) i {
    background-position: 0 0;
}

.ip_box1 label:nth-of-type(2) i {
    background-position: -40px 0;
}

.ip_box1 label:nth-of-type(3) i {
    background-position: -80px 0;
}

.ip_box1 label:nth-of-type(4) i {
    background-position: -120px 0;
}

.ip_box1 label:nth-of-type(5) i {
    background-position: -160px 0;
}

.ip_box1 label:nth-of-type(6) i {
    background-position: -200px 0;
}

.ip_box1 label:nth-of-type(7) i {
    background-position: -240px 0;
}


.ip_box2 label:nth-of-type(1) i {
    background-position: -280px 0;
}

.ip_box2 label:nth-of-type(2) i {
    background-position: -320px 0;
}

.ip_box2 label:nth-of-type(3) i {
    background-position: -360px 0;
}

.ip_box2 label:nth-of-type(4) i {
    background-position: -160px 0;
}

.ip_box2 label:nth-of-type(5) i {
    background-position: -200px 0;
}

.ip_box2 label:nth-of-type(6) i {
    background-position: -240px 0;
}

.ip_box2 label:nth-of-type(7) i {
    background-position: -400px 0;
}

.ip_box2 label:nth-of-type(8) i {
    background-position: 0 -40px;
}

.ip_box2 label:nth-of-type(9) i {
    background-position: -40px -40px;
}

.ip_box2 label:nth-of-type(10) i {
    background-position: -80px -40px;
}

.ip_box2 label:nth-of-type(11) i {
    background-position: -120px -40px;
}


.ip_box3 button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 20%;
    padding-right: 10px;
}

.ip_box3 button i {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(./img/section2/ico_40x40.png);
    background-repeat: no-repeat;
}

.ip_box3 button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    display: none;
    white-space: nowrap;
    color: white;
}

.ip_box3 button:hover i::after,
.ip_box3 button.on i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background-color: #11875e;
    border-radius: 50%;
    opacity: 0.8;
}

.ip_box3 button:hover span,
.ip_box3 button.on span {
    display: block;
}

.ip_box3 button.on span {
    font-weight: bold;
}

.box3_ip {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.ip_box3 .btn1 i {
    background-position: -200px -40px;
}

.ip_box3 .btn2 i {
    background-position: -240px -40px;
}

.ip_box3 .btn3 i {
    background-position: -360px 0;
}

.ip_box3>div {
    display: flex;
    padding: 10px 0;
}

.box3_ip .box3_ip_con {
    width: calc(100%/2 - 20px);
    font-size: 14px;
    margin: 0 10px;
    white-space: nowrap;
    justify-content: space-between;
}

.ip_box4 {
    display: flex;
    flex-wrap: wrap;
}

.ip_box4 button {
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 10px;
}

.ip_box4 button i {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(./img/section2/ico_40x40.png);
    background-repeat: no-repeat;
}

.ip_box4 button:hover i::after,
.ip_box4 button.on i::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background-color: #11875e;
    border-radius: 50%;
    opacity: 0.8;
}

.ip_box4 button span {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
}

.ip_box4 button:hover span,
.ip_box4 button.on span {
    color: white;
}

.ip_box4 button.on span {
    font-weight: bold;
}

.ip_box4 .btn1 i {
    background-position: -280px -40px;
}

.ip_box4 .btn2 i {
    background-position: -320px -40px;
}

.ip_box4 .btn3 i {
    background-position: -360px -40px;
}


.p_list {
    position: relative;
}

.p_list p {
    padding: 20px 0;
    font-weight: bold;
}

.p_list p>span {
    font-size: 1.2rem;
    color: #11875e;
}

.result_con {
    width: 100%;
}

.result {
    display: flex;
    overflow: hidden;
}

.result li {
    position: relative;
    width: calc(100%/5 - 20px);
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 46px;
    background-color: #11875e;
    transition: .3s;
    opacity: 0.9;
}

.result li::after {
    content: "바로가기";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 46px;
    color: white;
    font-size: 32px;
    opacity: 0;
    transition: .5s;
}

.result li:hover::before {
    height: 100%;
}

.result li:hover::after {
    top: 26px;
    opacity: 1;
}

.result li img {
    height: 90%;
    width: 100%;
}

.result li span {
    font-size: 13px;
    margin-bottom: 10px;
    color: #11875e;
}

.result li h3 {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}

.p_list button {
    position: absolute;
    top: 20px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #11875e;
    font-weight: 600;
    cursor: pointer;
}

@media(max-width:790px) {
    .sec2 h2 span{display: none;}
    .ip_list li:nth-of-type(2) {
        width: 25%;
    }
    
    .ip_list li:nth-of-type(3) {
        width: 30%;
    }
    .sec2 .ip_con .ip_list i {
        display: none;
    }
    .ip_box1 label,.ip_box2 label {
        width: 100%;
        text-align: center;
        margin: 2px 0;
    }

    .ip_con button span {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        color: black;
        width: 100%;
        padding: 5px 0;
    }

    .box3_ip .box3_ip_con{margin: 0;}
    .box3_ip .box3_ip_con:nth-of-type(even){
        margin-left: 30px;
    }
    .ip_box1 label:hover::before,
    .ip_box1 input:checked+label::before,
    .ip_box2 label:hover::before,
    .ip_box2 input:checked+label::before {
    border-radius:5px;
}
    .ip_box1 label:hover span,
    .ip_box1 input:checked+label span,
    .ip_box2 label:hover span,
    .ip_box2 input:checked+label span{
        color: white;
    } 
    .ip_box3 button i {
        display: none;
    }

    .box3_ip {
        width: 100%;
    }
    .ip_con label span {
        position: relative;
        display: block;
        color: black;
        width: 100%;
        padding: 3px 0;
    }

    .ip_box3>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .ip_box3 button {
        width: 100%;
        padding: 0;
        margin: 2px 0;
    }
    .ip_box3 button:hover,.ip_box3 button.on{
        background-color: #11875e;
        opacity: 0.8;
        color: white;
        border-radius: 10px;
    }
    .ip_box3 button:hover span,.ip_box3 button.on span{color: white;}
    .ip_box4{width: 100%;}
    .ip_box4>div{width: 100%;text-align: center;}
    .ip_box4>div>button{width: 100%;}
    .ip_box4 button:hover,.ip_box4 button.on{
        background-color: #11875e;
        opacity: 0.8;
        color: white;
        border-radius: 10px;
    }
    .result li {
        width: calc(100%/4 - 20px);
    }
    .result li:nth-of-type(5){display: none;}
    .p_list p{
        padding: 20px 0 40px 0;
    }
    .p_list button{
        top: 60px;
    }
}

@media(max-width:623px) {

    .ip_box1 label,
    .ip_box2 label {
        width: 85%;
    }
    .result li {
        width: calc(100%/3 - 20px);
    }
    .result li:nth-of-type(4){display: none;}
}

@media(max-width:555px) {

    .ip_box1 label,
    .ip_box2 label {
        width: 80%;
    }
    
    .result li {
        width: calc(100%/2 - 20px);
    }
    .result li:nth-of-type(3){display: none;}
}